@import '../../../styles//variables';

.container_items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(6, 1fr);
  row-gap: 67px;
}

.stack {
  margin: auto;
  margin-block: 60px;
}


.form {
  width: 165px;
  box-shadow: $shadow-card;
  border-radius: 20px;

  &_select {
    border-radius: 20px;
    font-size: 16px;
    height: 40px;
  }
  &_text {
    font-style: normal;
  }
}
