@import '../../../styles/variables';

.card {
  inline-size: clamp(20rem, 15.4167rem + 20.3704vw, 33.75rem);
  block-size: 170px;
  display: flex;
  border-radius: 20px;
  font-family: $main-font;
  gap: 20px;
  overflow: hidden;
  box-shadow: $shadow-blog-card;
  transition: scale 150ms;

  &_info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-inline-end: 30px;
  }

  &:hover {
    scale: 1.04;
    box-shadow: 5px 50px 50px 0px #165cbf1a;
    cursor: pointer;
  }
}

.title {
  color: $text-accent-color;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  font-family: $header-font;
}

.description {
  font-size: 14px;
  color: $text-color;
}

.image {
  object-fit: cover;
  max-width: 190px; // TODO: почему во время подгрузки картинок карточка дергается?
}

.image_container {
  width: 190px;
}

.info {
  display: flex;
  justify-content: space-between;
  color: $disabled;
  font-size: 12px;
}

.views {
  display: flex;
  gap: 7px;
  color: $disabled;
}
