@import '../../styles/variables';

.card {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  border: none;
  padding-block: 20px;
  border-radius: 20px;

  &:hover {
    box-shadow: 5px 10px 30px 0px rgba(22, 92, 191, 0.1);
    transition: box-shadow 500ms;
  }
}

.card span {
  color: $text-color;
  width: 150px;
}
