@import '../../../styles/variables';

.submit{
    border: none;
    padding: 17px 53px;
    background: $accent-color;
    border-radius: 50px;
    color: $main-color;
    font-weight: 700;
    font-size: 18px;
    cursor: pointer;
    transition: background-color .3s ease;
    box-shadow: $shadow-button;

    &:hover {
      background-color: $hover;
    }
  
}