@import '../../../styles/variables';

.container {
  inline-size: clamp(20rem, 15.4167rem + 20.3704vw, 33.75rem);
  // block-size: 100%;
  background-color: $dark-accent-color;
  border-radius: 20px;
  box-shadow: 5px 20px 60px 0px #165cbf26;
  overflow: hidden;
}

.title {
  font-family: $header-font;
  font-size: clamp(1rem, 0.8333rem + 0.7407vw, 1.5rem);
  font-weight: 900;
  line-height: 29.26px;
  text-transform: uppercase;
  padding-inline: clamp(1.875rem, 1.0417rem + 3.7037vw, 4.375rem);
  padding-block: 25px;
  text-align: center;
}

.form {
  block-size: calc(100% - 50px - 2 * 29.26px);
  background-color: $main-color;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-inline: clamp(1.875rem, 1.0417rem + 3.7037vw, 4.375rem);
  gap: 20px;
}

.link {
  color: $disabled;
  text-decoration: underline;
  text-underline-offset: 4px;
}

.input {
  border-bottom: 2px solid $text-accent-color;
  width: 410px;

}