@import '../../styles/variables';

.card {
  inline-size: 540px;
  block-size: 170px;
  display: flex;
  border-radius: 20px;
  font-family: $text-font;
  padding-inline-end: 30px;
  gap: 20px;
  overflow: hidden;
  box-shadow: $shadow-blog-card;
  transition: scale 150ms;

  &:hover {
    scale: 1.04;
    box-shadow: 5px 50px 50px 0px #165cbf1a;
  }
}

.title {
  color: $text-accent-color;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  font-family: $main-font;
}

.description {
  font-size: 14px;
  color: $text-color;
}

.image {
  object-fit: cover;
  max-width: 190px; // TODO: почему во время подгрузки картинок карточка дергается?
}

.image_container {
  width: 190px;
}

.info {
  display: flex;
  justify-content: space-between;
  color: $disabled;
  font-size: 12px;
}

.views {
  display: flex;
  gap: 7px;
}
