.modal {
  background-color: #1c1c21;
  border-radius: 40px;
  box-shadow:
    0 24px 32px rgb(0 0 0 / 0.04),
    0 16px 24px rgb(0 0 0 / 0.04),
    0 4px 8px rgb(0 0 0 / 0.04),
    0 0 1px rgb(0 0 0 / 0.04);
  left: 50%;
  margin: auto;
  padding: 40px 40px 60px;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
}

.header {
  align-items: center;
  display: flex;
  min-height: 64px;
}

.button {
  background-color: rgb(0 0 0 / 0);
  border: none;
  cursor: pointer;
  display: flex;
  height: 24px;
  margin-left: auto;
  outline: none;
  padding: 0;
  width: 24px;
}

.img {
  margin: auto;
}

.content {
  align-items: center;
  display: flex;
  flex-direction: column;
}
