$h1-font-size: clamp(1.25rem, 0.1667rem + 4.8148vw, 4.5rem); // с 20px до 72px
$h2-font-size: clamp(2.0625rem, 1.5rem + 2.5vw, 3.75rem);20px72px$h2-font-size11px36px$link-font-size //c 14px до 24px
$contacts-font-size: clamp(0.5rem, 0.2917rem + 0.9259vw, 1.125rem);//c14px24px$contacts-font-size14px24px$contacts-font-size //c 8px до 18px 

$main-font: 'Montserrat', sans-serif;//c8px18px$main-font8px18px$main-font
$text-font: 'Ruda', sans-serif;$text-font
$text-color: rgb(0 0 0 / 100%);
$text-accent-color: rgb(0 44 106 / 100%);

$main-color: rgb(255 255 255 / 100%);
$accent-color: rgb(255 24 24 / 100%);
$hover: rgb(255 66 24 / 100%);
$disabled: rgb(179 192 210 / 100%);
$shadow-button: 0 15px 30px 0 rgb(227 47 31 / 15%);
$shadow-card: 5px 15px 32px 0 rgb(22 92 191 / 20%);

