@import '../../styles/variables';

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  background-color: $main-color;
}

h1 {
  color: $text-accent-color;
  font-size: $h1-font-size;
  line-height: 88px;
  font-weight: 700;
  font-style: normal;
}
