@import url(../../styles/_variables.scss);

.app {
  align-items: center;
  background-color: $main-color;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
}

h1 {
  color: $text-accent-color;
  font-size: $h1-font-size;
  font-style: normal;
  font-weight: 700;
  line-height: 88px;
}
