@import '../../../styles/variables';

.search_container {
  border-radius: 20px;
  box-shadow: 5px 2px 30px 0 rgb(41 41 45 / 0.1) inset;
  display: flex;
  height: 44px;
  width: 350px;

  &_rectangle {
    border-radius: 0 20px 20px 0;
    height: 44px;
    width: 95px;
  } 
}

.search_icon {
  color: $main-color;
  height: 44px;
  padding: 2px 0 0 30px;
  width: 44px;
}
