@import '../../../../styles/variables';

.buttonNavHeader {
  background-color: $dark-accent-color;
  height: 44px;
  width: 44px;

  &:hover {
    background: rgb(127 127 127);
  }
}

.buttonNavFooter {
  background-color: $text-color;

  &:hover {
    background: rgb(127 127 127);
  }
}

.button_container{
display: flex;
gap:20px
}
