@import '../../../styles/variables';

.gridContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    'personalData changePassword'
    'personalData changePassword'
    'address contacts'
    'address contacts';
  margin-top: 110px;
  margin-bottom: 60px;
  margin-left: 45px;
}

.addressInputs {
  display: grid;
  grid-template-columns: repeat(3, 95px);
  gap: 48px;
}

.contacts {
  display: flex;
  flex-direction: column;
  padding-top: 46px;
}

.profileInfoContainer {
  margin: 50px;
  color: $dark-accent-color;
}

.title {
  margin-bottom: 20px;
  color: $text-accent-color;
  font-family: $header-font;
  font-size: $link-font-size;
}

.titleContact,
.titlePassword {
  margin-bottom: 20px;
  color: $text-accent-color;
  font-family: $header-font;
  font-size: $link-font-size;
}

.errorContainer {
  position: relative;
  margin-top: 4px;
}

.submitButtonCustom {
  position: relative;
  left: 45px;
  width: 418px;
  height: 91px;
  border: none;
  border-radius: 50px;
  padding: 10px 20px;
  color: #fff;
  font-family: $header-font;
  font-size: $link-font-size;
  background-color: $disabled;
}

.textField {
  width: 470px;
  margin-bottom: 15px;
  border-bottom: 2px solid #002c6a;
}

.lastNameField {
  margin: 00px 70px 15px 0;
}

.middleNameField {
  margin-bottom: 62px;
}

.houseField,
.buildingField,
.apartmentField {
  width: 95px;
  margin-bottom: 15px;
}

.indexField {
  margin-bottom: 12px;
}
