@import '../../../styles/variables';

.grid_container {
  margin-inline: 165px;
  min-height: 175px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 95px 44px;
  gap: 44px;

}

.link {
  color: $text-color;
  transition: color 0.3s ease;
  font-size: $link-font-size;
  &:hover {
    color: $hover;
  }
}
.link_active {
  color: $accent-color;
}

.link_logo {
  display: inline-block;
  line-height: 0;
}

.running {
  display: flex;
  align-items: center;
  background-color: $dark-accent-color;
  height: 40px;
  overflow: hidden; // не дает появляться сайдбару
  width: 100%;
  margin-block-end: 23px;
  user-select: none;
  &_items {
    display: flex;
    justify-content: space-around;
    flex-shrink: 0;
    min-width: 100%;
    animation: scroll 10s linear infinite;
    &_line {
      color: $main-color;
      font-size: 29px;
      &_sale {
        color: $accent-color;
      }
    }
  }
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
