@import '../../styles/variables';

.content {
  
  display: flex;
  padding-block: 100px;
  justify-content: space-between;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 40px;

  &_second {
    justify-content: flex-end;
  }
}
