@import '../../../styles/variables';

.brand {
  &:hover {
    transform: scale(1.1);
    transition: transform 0.5s;
  }
}

.splide {
  height: 480px;
  display: flex;
  margin-inline: -70px;
  margin-block-start: -30px;
  &__list {
    align-items: center;
  }
}
