.preloader {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}

.preloader_circle {
  position: relative;
  inset: 0;
  display: block;
  width: 74px;
  height: 74px;
  margin: auto;
  border: 1px solid;
  border-color: #d1d2d6 #9fa0a5 #626368 #1a1b22;
  border-radius: 50%;
  animation: spin 0.75s infinite linear;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
